/node_modules
/public/css/trash
/public/img/trash
/public/js/trash
/src/controllers/trash
/src/middlewares/trash
/src/routes/trash
/src/views/trash
/src/views/cursor
/trash

# Archivos movidos a la estructura /tools
/test-automatizacion.js
/test-automatizacion-mejorado.js
/optimizar-bd.sql
/checkDependencias.js