<header class="topheader" id="topheader">
  <div class="topnav">
    <div class="logo"></div>
    <nav class="navbar">
      <ul class="nav-links">
        <!-- <li>
          <a href="/historialHabitaciones" class="opcion-menu active"
            >Historial</a
          >
        </li> -->
        <li>
          <a href="/registro">Reserva</a>
        </li>

        <li>
          <a href="/preReservaciones">Pre-reserva</a>
        </li>

        <li>
          <a href="/mapaHabitaciones" class="opcion-menu active">Volver</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
