/* Estilos para el botón de mostrar/ocultar contraseña */
.contenedor-input {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
  color: #777;
  transition: color 0.3s ease;
}

.toggle-password:hover {
  color: #333;
}

.contenedor-form p.instruccion {
  padding: 1rem;
}

/* Ocultar el icono nativo de "revelar contraseña" que los navegadores (como Edge/IE) insertan por defecto */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}
input[type="password"]::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
}
