/* Estilos para el botón de mostrar/ocultar contraseña */
.contenedor-input {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
  color: #777;
  transition: color 0.3s ease;
}

.toggle-password:hover {
  color: #333;
}

.contenedor-form p.instruccion {
  padding: 1rem;
}
