<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon" />
  <title>Disponibilidad por Fecha</title>
  <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../css/main.css" />
  <link rel="stylesheet" href="../css/responsive-base.css" />
  <link rel="stylesheet" href="../css/navbar.css" />
  <link rel="stylesheet" href="../css/disponibilidadPorFecha.css" />
  <link rel="stylesheet" href="../css/copyright.css" />
    <meta name="csrf-token" content="<%= csrfToken %>">
</head>

<body>
  <header class="topheader" id="topheader">
    <div class="topnav">
      <div class="logo"></div>
      <%- include('../../public/components/navbar.html', { pageTitle: 'Disponibilidad por Rango de Fechas' }) %>
    </div>
  </header>

    <div class="container">
      <form id="availabilityForm" method="POST">
        <div class="form-group">
          <label for="fechaInicio">Fecha de Entrada:</label>
          <input type="date" class="form-control" id="fechaInicio" name="fechaInicio" required />
        </div>
        <div class="form-group">
          <label for="fechaFin">Fecha de Salida:</label>
          <input type="date" class="form-control" id="fechaFin" name="fechaFin" required />
        </div>
        <div class="view-options mt-4 acciones">
          <button type="submit" class="btn btn-secondary" formaction="/disponibilidadPorFecha?view=grilla">Consultar en
            Gráfica</button>
          <button type="submit" class="btn btn-primary" formaction="/disponibilidadPorFecha?view=tabla">Consultar en
            Tabla</button>
        </div>
      </form>
    </div>

    <%- include('../../public/components/footer.html') %>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <!-- Sweetalert 2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.4/dist/sweetalert2.all.min.js"></script>
    <script src="../js/csrf-injector.js"></script>
</body>

</html>